* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

a:hover {
    color: #32CD32;
}


